# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Playwright
test-results/
playwright-report/

# Logs
*.log

# Reports
reports/
test-results/
test-reports/

# tmp
*.tmp
*.bak
*.swp

# Configs
.idea/
.vscode/
.env
.DS_Store
Thumbs.db

# Coverage
coverage/
*.lcov-report/

# Build
dist/
build/
*.out
*.err
